<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>Form</title>
</head>
<body>
    <div clas="container">
        <h1>Formulário</h1>
        <form method="post" action="/">
            <div class="form-group">
              <label ></label>Nome</label>
              <input type="text" name='nome' >
            </div>
            <div class="form-group">
              <label >Sobrenome</label>
              <input type="text" name='sobrenome' >
            </div>
            <div class="form-group">
                <label >E-Mail</label>
                <input type="text" name='email' >
              </div>
            <button type="submit">Cadastrar</button>
          </form>
    </div>
</body>

</html>